<div
  style="background-color: #2563eb; color: white; text-align: center; padding: 10px 0; font-weight: bold; font-family: sans-serif;">
  🎁 BLACK FRIDAY DEALS - 25% OFF ALL GIFT CARDS! NOW THROUGH NOV. 30th —
  <a href="https://app.urable.com/virtual-shop/ZfzQ7ZQYrM7cAKNm1VWt/bjx42drdkHkTQ0DaMIuU" target="_blank" style="color: white; text-decoration: underline; font-weight: bold;">Buy Now</a>
</div>
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>